* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
}

main {
  display: flex;
  height: calc(100% - 90px);
  /* background-color: grey; */
  overflow-y: hidden;
}
.main-nav {
  width: 250px;
  height: 100%;
  /* background-color: yellow; */
  overflow-y: hidden;
  min-height: 480px;
}

.nav-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 90px);
  background-color: lightgreen;
  overflow: hidden;
}
.nav-logo img:first-child {
  width: 80%;
  padding: 10px;
}
.nav-logo img:last-child {
  height: 50px;
  margin: 5px;
}

.nav-menu ul {
  list-style: none;
}
.nav-menu li {
  padding: 10px;
}
.nav-menu li:first-child {
  border-left: 3px solid yellow;
}
.nav-menu li:first-child a {
  color: white;
}
.nav-menu a {
  text-decoration: none;
  color: #B3B3B3;
}
.nav-menu i {
  font-size: 22px;
  margin-right: 10px;
}

.nav-playlist {
  padding: 10px;
  overflow: hidden;
  /* flex-shrink: 0; */
}
.nav-playlist h2 {
}
.nav-playlist ul {
  list-style: none;
}
.nav-playlist li {
  padding: 5px;
}
.nav-playlist a {
  text-decoration: none;
  color: #B3B3B3;
}
#playlists {
  height: 60%;
  overflow-y: auto;
}

.btn_plus {
  margin: 20px 0;
  text-decoration: none;
  color: white;
  display: inline-block;
}
.btn_plus::before {
  content: "+";
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: grey;
  color: white;
  margin-right: 10px;
}

.nav-bottom {
  width: 100%;
  height: 90px;
  padding: 20px;
  background-color: lightblue;
}
.nav-bottom a {
  text-decoration: none;
  color: #B3B3B3;
}
.nav-bottom div {
  /* color: white; */
}
.nav-bottom hr {
  border-color: white;
  background-color: white;
}

.main-content{
  /* height: 100%; */
  width: calc(100% - 250px);
  padding: 110px 20px 20px;
  background-color: orange;
  overflow-y: auto;
}

.cta {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: calc(100% - 250px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}
.cta a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 20px;
  /* margin-right: 20px; */
}

.main-content {
  /* color: white; */
}
#content-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  cursor: pointer;
}
#content-menu li {
  margin: 0 10px;
  color: #B3B3B3;
  font-weight: bold;
}
button {
  margin: 0 auto;
  display: block;
  width: 30px;
  border-radius: 2px;
  border: 2px solid yellow;
  background-color: yellow;
}

.main-content h2 {
  margin: 30px 0 10px 0;
}
.main-content h3,
.main-content h4 {
  margin: 5px 0;
}
.main-content p {
  margin: 10px 0;
}

#recently-played,
#john-doe,
#populars {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
#recently-played li,
#john-doe li,
#populars li {
  width: calc(100% / 6);
  padding-right: 5px;
}
#recently-played img,
#john-doe img,
#populars img {
  width: 100%;
}
#populars img {
  border-radius: 50%;
}


footer {
  width: 100%;
  height: 90px;
  background-color: brown;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}


.left {
  height: 90px;
  display: flex;
  align-items: center;
}
.left img {
  height: 60%;
}
.left img,
.left i {
  margin: 5px;
}
.left a {
  text-decoration: none;
  color: white;
}


.center {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center i {
  margin: 0px 5px;
  font-size: 18px;
}
.center i:nth-child(3) {
  font-size: 30px;
}
#reproduction-time {
  display: flex;
  align-items: center;
}
.reproduction-bar {
  margin: 0 5px;
  width: 400px;
  border-radius: 2px;
  background-color: grey;
}
.reproduction-bar hr {
  width: 20%;
  border: 3px solid white;
  border-radius: 2px;
  background-color: white;
}


.right {
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.right i {
  margin: 5px;
}
.volume {
  width: 140px;
  border-radius: 2px;
  background-color: grey;
  margin-right: 10px;
}
.volume hr {
  width: 20%;
  border: 3px solid white;
  border-radius: 2px;
  background-color: white;
}


@media screen and (max-width: 767px) {

  .main-nav {
    width: 60px;
  }
  .nav-top img:first-child {
    display: none;
  }
  .nav-menu span {
    display: none;
  }
  .nav-playlist {
    display: none;
  }
  .nav-bottom span {
    display: none;
  }

  .main-content {
    width: calc(100% - 60px);
  }
  .cta {
    width: calc(100% - 60px);
  }


  #recently-played li,
  #john-doe li,
  #populars li {
    width: calc(100% / 2);
  }

  .reproduction-bar {
    width: 100px;
  }
  .volume {
    width: 35px;
  }

}

@media screen and (min-width: 768px) {

  .nav-logo img:last-child {
    display: none;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

  #recently-played li,
  #john-doe li,
  #populars li {
    width: calc(100% / 2);
  }

  .reproduction-bar {
    width: 200px;
  }
  .volume {
    width: 70px;
  }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

  #recently-played li,
  #john-doe li,
  #populars li {
    width: calc(100% / 4);
  }

}
